.background{
    background-image: var(--bg-image);
    background-color: var(--color-bg);
    background-position: top center;
    background-repeat: repeat-y; 
    background-size: 100% auto;
    min-height: 100vh;
}

#project-mockups{
    display: flex;
    margin: 0 auto;

}

.mockup{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mockup img{
    width: 90%;
    object-fit: contain;
    aspect-ratio: 2/1;
}

.mockup-info{
    width: 80%;
}

.mockup-info h3{
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
}


/*---------------enkelte sider--------------------------*/


.overview{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    color: var(--color-text-secondary);
}
.overview p{
    font-size: 1.5rem;
    font-weight: 600;
}

.project-video{
    display: flex;
    width: 80%;
    margin: auto;
}

.project-video video{
    width: 100%;
}

.project-link{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.project-link a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-text-secondary);
}
.project-link a:hover{
    text-decoration: underline;
}

.divider{
    background-color: var(--color-surface);
    height: 2px;
    margin-top: 1rem;
}

.om-projekt{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    justify-content: center;
    margin: 2rem auto;
}

.om-projekt h2{
    padding-bottom: 1rem;
}

.om-projekt ul {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    font-family: "inter, san-serif";
    font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
    .heading h1{
        font-size: 2rem;
        width: 100%;
    }
    .overview p{
        font-size: 1rem;
    }
    .project-link a{
        font-size: 1rem;
    }
    .om-projekt ul{
        font-size: 1rem;
    }
}