.background{
    background-image: url(images/baggrund.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

#project-mockups{
    display: flex;
    margin: 0 auto;

}

.mockup{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mockup img{
    width: 90%;
    object-fit: contain;
    aspect-ratio: 2/1;
}

.mockup-info{
    width: 80%;
}

.mockup-info h3{
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
}

.mockup-info p{
    font-size: 1.2rem;
}


/*---------------enkelte sider--------------------------*/

.project-video{
    display: flex;
    width: 100%;
}

.project-video video{
    width: 80%;
}