@font-face {
    font-family: fraunces;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3E3CE;
}

.scroll-watcher{
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #3F6A45;
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scrollWatcher linear;
    animation-timeline: scroll();
}

@keyframes scrollWatcher {
    to { scale: 1 1;}
}

/*Kode til typerwriter effekt -------------------*/
/* .typewriter-container{
    width: fit-content;
}

.typewriter {
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
}

.typewriter.animate {
  opacity: 1;
  animation: typing 2s steps(20, end) forwards, blink .7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
} */

.wave span{
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: waveUp 0.6s ease forwards;
}

@keyframes waveUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*-----------------------------------------------------*/

main h1{
    font-size: 3.5rem;
    font-weight: 500;
    color: #2E2A26;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.heading{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2{
    font-size: 2.2rem;
    font-weight: 500;
    color: #2E2A26;
}

h1, h2{
    font-family: fraunces, serif;
    width: 100%;
}

h3, p, a{
    font-family: Arial, Helvetica, sans-serif;
}

/*header sektion*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    flex-direction: row;
    
    background-color: #f3e3ce1b;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #ffffffd4;
    box-shadow: 3px 3px 3px #00000012;
}

header img {
    height: 4rem;
    width: auto;
    transition: 0.5s ease-in-out;
}
header img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.header-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-nav ul{
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}
.header-nav ul li a{
    text-decoration: none;
    color: #2E2A26;
    font-weight: 500;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    font-family: fraunces, serif;
}

/*--------mobile menu toggle-----------*/
.mobile-nav{
    display: none;
    justify-content: space-between;
}

.mobile-nav img{
    width: 100%;
    height: auto;
}

.mobil-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #f3e3ce1b;
    backdrop-filter: blur(5px);
    border-left: 1px solid #ffffffd4;
    box-shadow: -3px 3px 3px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.mobil-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.mobil-menu ul li a{
    text-decoration: none;
    color: #2E2A26;
    font-weight: 500;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    font-family: fraunces, serif;
}

/*animation for projects sektion*/

#m-leaf-right-back, #m-leaf-left, #t-leaf, #t-leaf-8{
    animation: sway 5s ease-in-out infinite;
    transform-origin: 50% 90%;
}
#m-leaf-right-front, #m-leaf-front, #t-leaf-2, #t-leaf-1{
    animation: sway2 5s ease-in-out infinite;
    transform-origin: 50% 90%;
}
#m-leaf-back-left, #m-leaf-right, #m-leaf-back, #t-leaf-3{
    animation: sway3 5s ease-in-out infinite;
    transform-origin: 50% 90%;
}
#m-leaf-mid, #t-leaf-6, #t-leaf-7{
    animation: sway4 5s ease-in-out infinite;
    transform-origin: 50% 90%;
}
#right-branch{
    animation: sway 5s ease-in-out infinite;
    transform-origin: 90% 50%;
}
#left-branch{
    animation: sway2 5s ease-in-out infinite;
    transform-origin: 10% 50%;
}
#back-branch{
    animation: sway3 5s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes sway {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes sway2 {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes sway3 {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}
@keyframes sway4 {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(-0.5deg); }
    100% { transform: rotate(0deg); }
}


@media screen and (max-width: 600px){
    .header-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}