@font-face {
    font-family: fraunces;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3E3CE;
}

.scroll-watcher{
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #3F6A45;
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scrollWatcher linear;
    animation-timeline: scroll();
}

@keyframes scrollWatcher {
    to { scale: 1 1;}
}

h2{
    width: 100%;
    font-size: 2.2rem;
    font-weight: 500;
    color: #2E2A26;
}

h1, h2{
    font-family: fraunces, serif;
}

h3, p, a{
    font-family: Arial, Helvetica, sans-serif;
}

/*header sektion*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    flex-direction: row;
    
    background-color: #f3e3ce1b;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #ffffffd4;
    box-shadow: 3px 3px 3px #00000012;
}

header img {
    height: 3.5rem;
    width: auto;
    transition: 0.5s ease-in-out;
}
header img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.header-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-nav ul{
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}
.header-nav ul li a{
    text-decoration: none;
    color: #2E2A26;
    font-weight: 500;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    font-family: fraunces, serif;
}

/*--------mobile menu toggle-----------*/
.mobile-nav{
    display: none;
    justify-content: space-between;
}

.mobile-nav img{
    width: 100%;
    height: auto;
}

.mobil-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #f3e3ce1b;
    backdrop-filter: blur(5px);
    border-left: 1px solid #ffffffd4;
    box-shadow: -3px 3px 3px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.mobil-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.mobil-menu ul li a{
    text-decoration: none;
    color: #2E2A26;
    font-weight: 500;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    font-family: fraunces, serif;
}

@media screen and (max-width: 600px){
    .header-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}